@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
/* @font-face {
  font-family: "Kelson";
  src: url("./src/assets/fonts/KelsonSans-Normal.ttf") format("truetype");
} */
:root {
  --gray-color: #afafb6;
  --midnight-navy-color: #0f172a;
  --deep-ocean-blue-color: #1e293b;
  --midnight-indigo-color: #182138;
  --dark-yellow-color: #f5cc3b;
  --white-color: #ffffff;
  --black-color: #000000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: "Merriweather", sans-serif;
}
